PasswordAuthentication {{ security_ssh_password_authentication }}
PermitRootLogin {{ security_ssh_permit_root_login }}
Port {{ security_ssh_port }}
UseDNS {{ security_ssh_usedns }}
PermitEmptyPasswords {{ security_ssh_permit_empty_password }}
ChallengeResponseAuthentication {{ security_ssh_challenge_response_auth }}
GSSAPIAuthentication {{ security_ssh_gss_api_authentication }}
X11Forwarding {{ security_ssh_x11_forwarding }}
